.passageUI-iframe {
  &-placeholder {
    flex: 0 0 100px;
    height: 90px;
    border-radius: 10px;
    background-image: url("../../../../common/img/placeholder-iframe.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  input[name="height"] {
    max-width: 70px;
  }
}

.passageUI-task.collapsed .passageUI-iframe-placeholder {
  flex: 0 0 50px;
  height: 50px;
}