<div class="passageUI-iframe">
	<div class="passageUI-content">
		<div class="image-placeholder" :style="{ backgroundColor: iframe ? '#4c4c4c' : '#e2e2e2' }">
			<img src="../../../../common/img/element-iframepdf.svg">
		</div>
		<div class="passageUI-form">
			<div class="passageUI-row">
				<label for="iframeUrl">{{ 'URL' | say }}:</label>
				<div class="passageUI-row-input">
					<input type="text" id="iframeUrl" v-model="iframe" @input="onChangeUrl($event)" :placeholder="'URL or PDF Link of embedded Resource' | say" required>
					<p class="error" v-show="!iframe">{{ 'URL of IFrame / PDF must be set' | say }}.</p>
					<p class="error" v-show="!isValid">{{ 'Resource Locator must be a valid URL' | say }}.</p>
				</div>
			</div>
			<div class="passageUI-row">
				<label for="height">{{ 'Height' | say }}:</label>
				<input type="text" id="height" v-model="height" @input="onChangeHeight($event)" :title="'Height with unit' | say">
			</div>
		</div>
	</div>
</div>
