@import '../../../common/colors.less';

.passageUI {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  // background-color: #f5f5f5;
  input,textarea:not(&-xml-text) {
    font-family: Roboto, serif;
    background-color: #fff;
  }
  &-tasks {
    flex: 1;
  }
  &-openai {
    flex: 1;
    padding: 10px;
    margin-left: 10px;
    background-color: #ddd;
    border-style: outset;
    &--caption {
      display: flex;
      flex-direction: row;
      &-title {
        flex: 1;
        margin: 5px;
      }
      button {
        width: 30px;
        height: 30px;
        background-image: url('../../../common/img/close.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }
    }
    &--text {
      background-color: @color-suggestions;
      color: white;
      padding: 10px;
      margin: 5px 0;     
      border-radius: 10px; 
    }
    &--loader {
      margin: 10px 0;
      text-align: center;
    }
    &--suggestions {
      display: flex;
      flex-direction: row;
      align-items: center;
      border-radius: 10px;
      background: @color-suggestions;
      margin: 5px 0;
    }
    &--add {
      flex: 0 0 25px;
      margin: 5px 0;
      background-image: url('../../../common/img/tick.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      filter: invert(1);
      align-self: stretch;
    }
    &--suggestion {
      flex: 1;
      margin: 0;
      padding: 5px;
      background-color: white;
      border: solid 2px @color-suggestions;
      border-radius: 0 10px 10px 0;
    }
  }
  &-task {
    background-color: #dde;
    border: 1px solid;
    border-style: outset;
    padding: 5px 0;
    margin: 5px 0;
    &-header {
      display: flex;
      align-items: center;
      button,.passageUI-task-gripper {
        flex: 0 0 30px;
        height: 30px;
        padding: 0;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
      }
    }
    &-gripper {
      cursor: grab;
      background-image: url('../../../common/img/ui-drag.svg');
    }
    &-collapse {
      background-image: url('../../../common/img/ui-chevron-up.svg');
    }
    &.collapsed &-collapse {
      background-image: url('../../../common/img/ui-chevron-down.svg');
    }
    &-props {
      background-image: url('../../../common/img/ui-settings-blank.svg');
    }
    &-remove {
      background-image: url('../../../common/img/ui-delete.svg');
    }
    &-caption {
      flex: 1;
      margin-left: 5px;
      text-transform: uppercase;
    }
    &-container {
      padding: 5px 10px;
    }
  }
  &-append {
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 0;
    div {
      flex: 1;
      border-top: dashed 1px;
    }
    button {
      flex: 0 0 20px;
      height: 20px;
      margin: 0 5px;
      background-image: url('../../../common/img/plus.svg');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }
  }
  &-content {
    display: flex;
    align-items: flex-start;
  }
  &-placeholder {
    flex: 0 0 245px;
  }
  &-input {
    flex: 1;
    display: flex;
    flex-direction: column;
    &-row {
      flex: 1;
      display: flex;
      // margin: 5px 0;
      label {
        flex: 0 1 55px;
        margin: 6px 10px 0 20px;
      }
      input {
        flex: 1 1 auto;
        margin: 0 0 5px 4px;
      }
    }
  }
  input {
    border: #888 solid 1px;
    border-radius: 3px;
    padding: 5px;
  }
  &-task.collapsed .passageUI-content .passageUI-placeholder {
    flex: 0 0 123px;
  }
  &-task.collapsed:not(.task-txt) {
    .passageUI-input,.passageUI-options,.passageUI-txt-new {
      display: none;
    }
  }
}