@import '../../../common/colors.less';

.passageUI {
  display: flex;
  max-height: 100%;
  flex-direction: column;
  input:not(.code),textarea:not(.code) {
    font-family: Roboto, serif;
  }
  input.code {
    font-size: 13px;
  }
  .image-placeholder {
	 flex: 0 1 30%; // flex: 0 0 245px;
	 align-self: stretch;
	 margin-right: 10px;
	 img {
	  display: inline-block;
	  vertical-align: middle;
	  width: 100%;
	  max-height: 80px;
	 }
  }
  &-container {
    display: flex;
    min-height: 0;
  }
  &-tasks {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
  }
  &-action {
    text-align: center;
    margin-top: 5px;
    button {
      padding: 0;
    }
  }
  &-form {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-width: 0;
  }
  &-row {
    display: flex;
    flex-wrap: wrap;
    &-input {
      flex: 1;
      display: flex;
      flex-direction: column;
    }
    label {
      min-width: 100px;
      margin: 8px 5px 0;
    }
    input[type="text"],textarea {
      flex: 1;
      margin: 2px 0;
    }
    input[type="checkbox"] {
      width: 20px;
      height: 20px;
      margin: 7px 0;
    }
  }
  &-openai {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
    margin-left: 10px;
    background-color: #ddd;
    border-style: outset;
    &--caption {
      display: flex;
      flex-direction: row;
      h2 {
        flex: 1;
        margin: 5px;
      }
      button {
        width: 30px;
        height: 30px;
        background-image: url('../../../common/img/close.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }
    }
    &--text {
      background-color: @color-suggestions;
      color: white;
      padding: 10px;
      margin: 5px 0;     
      border-radius: 10px; 
    }
    &--loader {
      margin: 10px 0;
      text-align: center;
    }
    &--suggestions {
      display: flex;
      flex-direction: row;
      align-items: center;
      border-radius: 10px;
      background: @color-suggestions;
      margin: 5px 0;
    }
    &--add {
      flex: 0 0 25px;
      margin: 5px 0;
      background-image: url('../../../common/img/tick.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      filter: invert(1);
      align-self: stretch;
    }
    &--suggestion {
      flex: 1;
      margin: 0;
      padding: 5px;
      background-color: white;
      border: solid 2px @color-suggestions;
      border-radius: 0 10px 10px 0;
    }
  }
  &-task {
    margin: 5px;
    &-header {
      display: flex;
      align-items: center;
      button,.passageUI-task-gripper {
        flex: 0 0 30px;
        height: 30px;
        padding: 0;
        background-color: #fff;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
      }
      button {
        margin-left: 3px;
      }
    }
    &-gripper {
      cursor: grab;
      background-image: url('../../../common/img/ui-drag.svg');
    }
    &-collapse {
      background-image: url('../../../common/img/ui-chevron-up.svg');
    }
    &.collapsed &-collapse {
      background-image: url('../../../common/img/ui-chevron-down.svg');
    }
    &-copy {
      background-image: url('../../../common/img/ui-copy.svg');
    }
    &-props {
      background-image: url('../../../common/img/ui-settings-blank.svg');
    }
    &-remove {
      background-image: url('../../../common/img/ui-delete.svg');
    }
    &-caption {
      flex: 1;
      margin-left: 5px;
      text-transform: uppercase;
    }
    &-container {
      padding: 10px;
      background-color: #fff;
    }
    &-settings {
      margin-bottom: 10px;
      &-header {
        display: flex;
        align-items: center;
        span {
          flex: 1;
        }
      }
      &-close {
        padding: 5px;
        flex: 0 0 25px;
        height: 25px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        background-image: url('../../../common/img/ui-close.svg');
      }
      .passageUI-form {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
      }
      label {
        min-width: unset;
      }
      fieldset {
        margin: 0;
        padding: 5px;
        background: #c9cef4;
        input {
          background: #fff;
        }
      }
    }
  }
  &-content {
    display: flex;
    align-items: flex-start;
  }
  &-items {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
  }
  &-item {
    display: flex;
    align-items: center;
    height: 40px;
    padding: 5px 0;
    background-color: #c3c6d1;
    cursor: pointer;
    &:not(:first-child) {
      margin-left: 10px;
    }
    &.selected {
      color: #fff;
      background-color: #3a51fa;
      img {
        filter: invert(1);
      }
    }
    &-gripper {
      cursor: grab;
    }
    &-text {
      margin: 0 5px;
    }
    &-delete {
      cursor: pointer;
    }
    &-add {
      cursor: pointer;
      padding: 5px;
      img {
        width: 20px;
        padding: 5px;
      }
    }
    img {
      width: 30px;
      display: block;
    }
  }
  input {
    border: #888 solid 1px;
    border-radius: 3px;
    padding: 5px;
  }
  input[type="number"] {
    max-width: 70px;
  }
}