<div class="passageUI">
	<div class="passageUI-container">
		<div class="passageUI-tasks" v-el:tasks>
			<div :class="['passageUI-task', 'task-' + task.type]" v-for="(index, task) in tasks" @click="onTaskClicked($index)">
				<div class="passageUI-task-header">
					<div class="passageUI-task-gripper" draggable="true" @dragstart.stop="drag($index, $event)" @dragenter="dragenter($event)" @dragover="dragenter($event)" @drop.prevent="drop($index, $event)"></div>
					<!-- <button type="button" class="passageUI-task-collapse" @click.stop="toggleCollapse($index)" title="{{ 'Expand / Collapse' | say }}"></button> -->
					<span class="passageUI-task-caption">{{ caption(task) }}</span>
					<button type="button" class="passageUI-task-props" @click="onSettings($index)" :style="settingsStyle($index)" title="Settings (Condition / Class name)"></button>
					<button type="button" class="passageUI-task-remove" @click.stop="onDelete($index)" title="{{'Delete entry' | say}}"></button>
				</div>
				<div class="passageUI-task-container">
					<div v-show="settings & (1 << $index)" class="passageUI-task-settings">
						<!-- <div class="passageUI-task-settings-header">
							<span>Element Settings</span>
							<button type="button" class="passageUI-task-settings-close" @click="onSettings($index)"></button>
						</div> -->
						<fieldset class="passageUI-form">
							<div class="passageUI-row">
								<label for="condition">{{ 'Condition:' | say }}</label>
								<input type="text" class="code" name="condition" list="conditions" v-model="task.attributes['if']" title="JavaScript condition - e.g '$chapter === 3'" placeholder="JavaScript condition to be evaluated to true for executing this task">
								<datalist id="conditions">
									<option v-for="condition in conditions" :value="condition">
								</datalist>
								<label for="user-data">{{ 'User function:' | say }}</label>
								<input type="text" class="code" name="user-data" v-model="task.attributes['user-data']" title="User function being invoked on this task" placeholder="Name of user function to invoke">
							</div>
							<div v-show="!(task.type === 'wait' || task.type === 'eval' || task.type === 'goto' || task.type === 'chat')" class="passageUI-row">
								<label for="classname">{{ 'CSS Class:' | say }}</label>
								<input type="text" name="classname" v-model="task.attributes['classname']" title="CSS class name" placeholder="CSS class name">
								<label for="tat">{{ 'Typing animation time:' | say }}</label>
								<input type="number" name="tat" v-model="task.attributes['typing-animation-time']" title="Typing animation Time in Milliseconds" placeholder="ms">
							</div>
						</fieldset>
					</div>
					<task-txt v-if="task.type === 'txt'" :task="task"></task-txt>
					<task-image v-if="task.type === 'image'" :task="task" :story="story"></task-image>
					<task-video v-if="task.type === 'video'" :task="task"></task-video>
					<task-iframe v-if="task.type === 'iframe'" :task="task"></task-iframe>
					<task-buttons v-if="task.type === 'buttons'" :task="task" :story="story"></task-buttons>
					<task-xml v-if="task.type === 'msg'" :task="task"></task-xml>
					<task-carousel v-if="task.type === 'carousel'" :task="task" :story="story"></task-carousel>
					<task-tiles v-if="task.type === 'tiles'" :task="task" :story="story"></task-tiles>
					<task-wait v-if="task.type === 'wait'" :task="task" :story="story"></task-wait>
					<task-goto v-if="task.type === 'goto'" :task="task" :story="story"></task-goto>
					<task-eval v-if="task.type === 'eval'" :task="task" :story="story"></task-eval>
					<task-chat v-if="task.type === 'chat'" :task="task"></task-chat>
				</div>
			</div>
		</div>
		<div v-if="openai" class="passageUI-openai">
			<div class="passageUI-openai--caption">
				<h2 class="passageUI-openai--caption-title">{{ 'Suggestions' | say }}</h2>
				<button type="button" @click="closeSuggestions" title="{{ 'Close Suggestions' | say }}"></button>
			</div>
			<p class="passageUI-openai--text">{{openai.text}}</p>
			<div v-if="openai.loading" class="passageUI-openai--loader">
				<i class="fa fa-circle-o-notch fa-lg fa-spin"></i> {{ 'Loading...' | say }}
			</div>
			<div class="passageUI-openai--suggestions" v-for="(index, suggestion) in openai.suggestions">
				<button class="passageUI-openai--add" @click="addSuggestion($index)"></button>
				<p class="passageUI-openai--suggestion">{{suggestion}}</p>
			</div>
		</div>
	</div>
	<div class="append">
		<div></div>
		<button type="button" title="{{ 'Add new Task' | say }}">
			<ui-menu :story="story"></ui-menu>
		</button>
		<div></div>
	</div>
</div>
