.chatbot-search {
    background: #fff;
    border-radius: 2em;
    padding: 2px 20px;
    display: flex;
    align-items: center;
    flex: 0 0 100%;
    max-width: 470px;
    &__input {
        box-shadow: none !important;
        font-family: Roboto, serif !important;
        color: #131336 !important;
        width: 100%;
    }
    &__icon {
        width: 20px;
        height: 20px;
        background-color: #131336;
        mask-image: url("../../common/img/search-icon.svg");
        -webkit-mask-position: center;
        mask-position: center;
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
    }
}