<modal-dialog id="userModal" :origin="origin" v-ref:modal>
	<h2 class="user__title">User data</h2>
	<!-- <p>{{ 'Enter Field Names without leading \'$\'' | say }}</p> -->
	<div class="user__row">
		<div class="user__input">
			<template v-for="item in userData" track-by="$index">
				<div class="user__list user-field">
					<input type="text" class="user__list-field" v-model="item[0]" placeholder="Name" title="Variable Name">
					<select class="user__list-type" name="types" v-model="item[1].type">
						<option value="string">{{ 'String' | say }}</option>
						<option value="boolean">{{ 'Boolean' | say }}</option>
						<option value="number">{{ 'Number' | say }}</option>
						<option value="date">{{ 'Date' | say }}</option>
					</select>
					<input v-if="item[1].type === 'string'" type="text" class="user__list-input" v-model="item[1].value" placeholder="{{ 'Default Value' | say }}" title="{{ 'String' | say }}">
					<input v-if="item[1].type === 'boolean'" type="checkbox" class="user__list-input" v-model="item[1].value" placeholder="{{ 'Default Value' | say }}" title="{{ 'Boolean' | say }}">
					<input v-if="item[1].type === 'number'" type="number" class="user__list-input" v-model="item[1].value" placeholder="{{ 'Default Value' | say }}" title="{{ 'Number' | say }}">
					<input v-if="item[1].type === 'date'" type="date" class="user__list-input" v-model="item[1].value" placeholder="{{ 'Default Value' | say }}" title="{{ 'Date' | say }}">
					<button v-if="$index === 0" class="user__list-btn" @click="add(userData, $index, $event)"></button>
					<button v-else class="user__list-btn" @click="remove(userData, $index, $event)"></button>
				</div>
				<p class="error" v-show="!isUserEntrySet(userData[$index])">{{ 'Name must be set' | say }}</p>
				<p class="error" v-show="!isValidUserEntry(userData[$index])">{{ 'User Field Name must not start with \'$\'' | say }}</p>
			</template>
		</div>
	</div>
	<div class="user__save">
		<button class="create" @click="save" :disabled="!isValid">{{ 'Save' | say }}</button>
	</div>
</modal-dialog>
