<modal-dialog id="userModal" :origin="origin" :can-close="canClose" :can-widen="true" v-ref:modal @click.stop="onDialogClicked($event)">
	<span slot="title">{{ 'User data' | say }}</span>
	<!-- <p>{{ 'Enter Field Names without leading \'$\'' | say }}</p> -->
	<div class="user__content">
		<div class="user__input">
			<div class="user__list user-entry" v-for="item in userData" track-by="$index">
				<div class="user-gripper" draggable="true" @dragstart.stop="drag($index, $event)" @dragenter="dragenter($event)" @dragover="dragenter($event)" @drop.prevent="drop($index, $event)"></div>
				<div class="user__list user-field">
					<input type="text" class="user__list-field" v-model="item[0]" :placeholder="'variable' | say" title="{{ 'Variable Name' | say }}">
					<button class="user__list-search" @click.stop="search(item, $event)" :disabled="isEmptyUserEntry(item)" title="{{ 'Find in Passages' | say }}"></button>
					<select class="user__list-type" name="types" v-model="item[1].type">
						<option value="string">{{ 'String' | say }}</option>
						<option value="boolean">{{ 'Boolean' | say }}</option>
						<option value="number">{{ 'Number' | say }}</option>
						<option value="date">{{ 'Date' | say }}</option>
					</select>
					<input v-if="item[1].type === 'string'" type="text" class="user__list-input" v-model="item[1].value" placeholder="{{ 'Default Value' | say }}" title="{{ 'String' | say }}">
					<select v-if="item[1].type === 'boolean'" class="user__list-input" v-model="item[1].value" placeholder="{{ 'Default Value' | say }}" title="{{ 'Boolean' | say }}">
						<option value="true">{{ 'true' | say }}</option>	
						<option value="false">{{ 'false' | say }}</option>	
					</select>
					<input v-if="item[1].type === 'number'" type="number" class="user__list-input" v-model="item[1].value" placeholder="{{ 'Default Value' | say }}" title="{{ 'Number' | say }}">
					<input v-if="item[1].type === 'date'" type="date" class="user__list-input" v-model="item[1].value" placeholder="{{ 'Default Value' | say }}" title="{{ 'Date' | say }}">
					<button class="user__list-btn" @click="remove($index)"></button>
				</div>
				<p class="error" v-show="!isUserEntrySet(item)">{{ 'Name must be set' | say }}</p>
				<p class="error" v-show="!isValidUserEntry(item)">{{ 'User Field Name must not start with \'$\'' | say }}</p>
			</div>
		</div>
		<div class="append">
			<div></div>
			<button type="button" title="{{ 'Add new Field' | say }}" @click="add"></button>
			<div></div>
		</div>
	</div>
	<input name="storeInLocalStorage" type="checkbox" @change="modified = true" v-model="storeInLocalStorage">
	<label for="storeInLocalStorage">{{ 'Store Data in Local Storage' | say }}</label>
	<div class="user__save">
		<button class="create" @click="save" :disabled="!isValid">{{ 'Save' | say }}</button>
	</div>
</modal-dialog>
