{
    "rules": {
		"brace-style": [
			1,
			"1tbs",
			{ "allowSingleLine": true }
		],
      "comma-dangle": 0,
		"curly": [1, "all"],
		"indent": "off",
		"max-len": [
			2,
			200,
			{
				"ignoreUrls": true,
				"ignoreStrings": true,
				"ignoreTemplateLiterals": true
			}
		],
		"newline-after-var": 0,
		"no-unused-vars": 1,
		"no-console": [
			1,
			{ "allow": ["warn", "error"] }
		],
		"no-extra-semi": 0,
		"no-useless-escape": 1,
		"no-mixed-spaces-and-tabs": 0,
		"no-trailing-spaces": [
			0,
			{ "skipBlankLines": true }
		],
		"quote-props": 0,
        "semi": [
            1,
            "always"
        ]
    },
    "env": {
        "browser": true,
        "es6": true,
        "commonjs": true,
        "node": true
    },
    "extends": "eslint:recommended"
}
