<div class="passageTags">
	<div class="passageTags-list">
		<span class="tags"></span>
		<button class="subtle" type="button" @click="newTag()"><i class="fa fa-plus"></i>
		<!-- L10n: this is the noun form, as in tags you would apply to content. -->
			{{ 'Tag' | say }}
		</button>
		<template v-for="tag in taglist" transition="fade-in-out">
			<div class="tag label label-info {{tagColors[tag]}}">
				<div v-if="getType(tag) === '#'" class="tag-type">
					<img src="../../../common/img/main-tag.svg">
				</div>
				<div v-if="getType(tag) === '@'" class="tag-type">
					<img src="../../../common/img/group-tag.svg">
				</div>
				<div v-if="getType(tag) === '/'" class="tag-type">
					<img src="../../../common/img/suggestion-tag.svg">
				</div>
				<div v-if="getType(tag) === '%'" class="tag-type">
					<img src="../../../common/img/conditional-tag.svg">
				</div>
				<div class="tag-label">{{ getTagname(tag) }}</div>
				<button>
					<i class="fa fa-caret-down"></i>
					<tag-menu :tag="tag" :passage="passage" :story-id="storyId"></tag-menu>
				</button>
			</div>
		</template>
	</div>
	<div class="passageTags-suggestions" v-el:suggestions>
		<div class="passageTags-suggestion" v-if="loading || suggestions.length">
			<div class="passageTags-suggestion-header">
				<h3>{{ 'Suggestions' | say }}</h3>
				<button class="close subtle" @click="closeSuggestions">
					<i class="fa fa-close"></i>
				</button>
			</div>
			<p v-if="loading">
				<i class="fa fa-circle-o-notch fa-lg fa-spin"></i> {{ 'Loading' | say }}...
			</p>
			<div v-else class="passageTags-suggestion-items">
				<template v-for="suggestion in suggestions">
					<div class="tag label label-info">{{ suggestion }}
						<button @click="addSuggestion(suggestion)">
							<i class="fa fa-caret-up"></i>
						</button>
					</div>
				</template>
			</div>
		</div>
	</div>

</div>
