<div class="passageTags">
	<span class="tags"></span>

	<button class="subtle" type="button" @click="newTag"><i class="fa fa-plus"></i>
	<!-- L10n: this is the noun form, as in tags you would apply to content. -->
	{{ 'Tag' | say }}
	</button>

	<template v-for="tag in taglist" transition="fade-in-out">
		<div class="tag label label-info {{tagColors[tag]}}">{{ tag }}
			<button>
				<i class="fa fa-caret-down"></i>
				<tag-menu :tag="tag" :passage="passage" :story-id="storyId"></tag-menu>
			</button>
		</div>
	</template>
	<template v-if="passage.tags.length > maxTags">
		<button v-if="showingAll" @click="toggleShowTags">Show less</button>
		<button v-else @click="toggleShowTags">Show all</button>
	</template>

	<div class="tag-suggestion" v-if="loading || suggestions.length">
		<div class="tag-suggestion-header">
			<h3>Suggestions</h3>
			<button class="close subtle" @click="closeSuggestions">
				<i class="fa fa-close"></i>
			</button>
		</div>
		<p v-if="loading" transition="fade-in-out">
			<i class="fa fa-circle-o-notch fa-lg fa-spin"></i> {{ 'Loading...' | say }}
		</p>
		<div class="tag-suggestion-items">
			<template v-for="suggestion in suggestions">
				<div class="tag label label-info">{{ suggestion }}
					<button @click="addTag(suggestion)">
						<i class="fa fa-caret-up"></i>
					</button>
				</div>
			</template>
		</div>
	</div>

</div>
