.tag-suggestion {
  padding: 0 0 0.5rem 1rem;
  background-color: #e0e0e0;
  .tag-suggestion-header {
    display: flex;
    justify-content: space-between;
  }
  .tag-suggestion-items {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    padding-right: 1rem;
  }
}