<div class="passageUI-opt">
	<div class="passageUI-options" v-for="option in options" track-by="$index" transition="fade-in-out">
		<div class="passageUI-option">
			<textarea class="passageUI-option-text" v-model="option.text" @input="onChange($index, $event)" @keydown.13="onEnter($index, $event)"></textarea>
			<div :class="['passageUI-option-ctrl', option.modified ? 'modified' : '']" @click="onModify($index)"></div>
		</div>
		<div class="passageUI-option-openai" :class="{ disabled: !option.text || !option.text.trim() }" @click="onOpenai($event, $index)"></div>
	</div>
	<div v-if="!isModified" class="passageUI-txt-new" >
		<button type="button" @click="addNew">{{ addLabel }}</button>
	</div>
</div>
