.passageUI-options {
  display: flex;
  align-items: center;
  margin-top: 5px;
  transition: margin 1s;
}

.passageUI-option {
  display: flex;
  width: 100%;
  border: 3px solid #aaa;
  border-radius: 10px;
  overflow: hidden;
  transition: height 1s;
  &-text {
    flex: 1;
    padding: 5px;
    box-shadow: none;
    resize: vertical;
    &:focus {
      box-shadow: none;
    }
  }
  &-ctrl {
    flex: 0 0 30px;
    cursor: pointer;
    background-color: #eee;
    background-image: url("../../../../common/img/ui-delete.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  &.modified {
    border-color: #3a51fa;
    .passageUI-option-ctrl {
      background-color: #3a51fa;
      background-image: url("../../../../common/img/ui-save.svg");
    }
  }
  &-openai {
    display: inline-block;
    cursor: pointer;
    width: 30px;
    height: 30px;
    margin-left: 5px;
    background-image: url('../../../../common/img/suggestions.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}

.passageUI-task.collapsed .passageUI-options:not(:first-child) {
  // pointer-events: none;
  margin-top: 0;
  .passageUI-option {
    margin: 0;
    height: 10px;
    border-top: none;
    border-radius: 0 0 10px 10px;
    background-color: white;
    &-text,&-ctrl {
      visibility: hidden;
    }
    &-openai {
      height: 0;
      visibility: hidden;
    }
  }
}
