<div class="passageUI-opt">
	<div class="passageUI-options" v-for="option in options" track-by="$index">
		<div class="passageUI-option">
			<textarea class="passageUI-option-text" v-model="option" @input="onChange($index, $event)" @keydown.13="onEnter($index, $event)"></textarea>
			<div class="passageUI-option-ctrl" @click="onDelete($index)" :title="'Delete Message Option' | say"></div>
		</div>
		<div class="passageUI-option-openai" :class="{ disabled: !option || !option.trim() }" @click="onOpenai($event, $index)" :title="'Alternate Suggestions' | say"></div>
	</div>
	<div v-show="!hasEmpty" class="passageUI-action" >
		<button type="button" @click="addNew" :title="'Add Message Option' | say">{{ addLabel }}</button>
	</div>
</div>
