<div class="externaldata-details">
	<div class="externaldata-details-title">
		<label for="title">{{ 'Title' | say }}</label>
		<input type="text" id="title" v-model="item.title" @input="onChange($event)">
	</div>
	<div class="externaldata-details-image">
		<image-placeholder :image-url="item.image_url"></image-placeholder>
		<div>
			<label for="image-url">{{ 'Image URL' | say }}</label>
			<textarea id="image-url" v-model="item.image_url" @input="onChange($event)" rows="5"></textarea>
		</div>
	</div>
	<div>
		<label for="summary">{{ 'Summary' | say }}</label>
		<textarea id="summary" v-model="item.summary" @input="onChange($event)" rows="5"></textarea>
	</div>
	<div>
		<label for="main-keyword">{{ 'Main Keyword' | say }}</label>
		<input type="text" id="main-keyword" v-model="item.main_keyword" @input="onChange($event)">
	</div>
	<div>
		<label for="keywords">{{ 'Keywords' | say }}</label>
		<textarea id="keywords" v-model="item.keywords" @input="onChange($event)" rows="3"></textarea>
	</div>
	<div>
		<label for="phrases">{{ 'Phrases' | say }}</label>
		<textarea id="phrases" v-model="item.phrases" @input="onChange($event)" rows="4">{{ phrases }}</textarea>
	</div>
	<div class="externaldata-details-author-date">
		<div>
			<label for="author">{{ 'Author' | say }}</label>
			<input type="text" id="author" v-model="item.author" @input="onChange($event)">
		</div>
		<div>
			<label for="date">{{ 'Date' | say }}</label>
			<input type="text" id="date" v-model="item.date" @input="onChange($event)">
		</div>
	</div>
</div>