<div class="externaldata-details">
	<fieldset>
		<legend>
			{{ 'Last analysed: ' | say }} {{ item.processed | date 'LLL' }}
		</legend>
		<div class="externaldata-details-input">
			<label for="title">Title:</label>
			<input type="text" name="title" v-model="item.title" @input="onChange($event)">
		</div>
		<div class="externaldata-details-input">
			<label for="image-url">Image URL:</label>
			<input type="text" name="image-url" v-model="item.image_url" @input="onChange($event)">
		</div>
		<image-placeholder :image-url="item.image_url"></image-placeholder>
		<div class="externaldata-details-input">
			<label for="main-keyword">Main Keyword:</label>
			<input type="text" name="main-keyword" v-model="item.main_keyword" @input="onChange($event)">
		</div>
		<div>
			<label for="keywords">Keywords:</label>
			<textarea name="keywords" @input="onChangeKeywords($event)" rows="3">{{ keywords }}</textarea>
		</div>
		<div>
			<label for="summary">Summary:</label>
			<textarea name="summary" v-model="item.summary" @input="onChange($event)" rows="7"></textarea>
		</div>
		<div>
			<label for="phrases">Phrases:</label>
			<textarea name="keywords" @input="onChangePhrases($event)" rows="4">{{ phrases }}</textarea>
		</div>
		<div class="externaldata-details-input">
			<label for="author">Author:</label>
			<input type="text" name="author" v-model="item.author" readonly>
		</div>
		<div class="externaldata-details-input">
			<label for="date">Date:</label>
			<input type="text" name="date" v-model="item.date" readonly>
		</div>
	</fieldset>
</div>