<div class="passageUI-wait">
	<div class="passageUI-content">
		<div class="passageUI-placeholder">
			<img src="../../../../common/img/element-record-variable.svg">
		</div>		
		<div class="passageUI-form">
			<div class="passageUI-row">
				<label for="variable">{{ 'Variable' | say }}:</label>
				<div class="passageUI-row-input">
					<input type="text" class="code user-field" list="userData" name="variable" v-model="variable" @input="onChangeVariable($event)" required placeholder="User field prefixed with '$' that receives the user input">
					<datalist id="userData">
						<option v-for="field in userData" :value="$key">
					</datalist>
					<p class="error" v-show="!isValid">{{ 'User variable must start with \'$\'' | say }}</p>
				</div>
			</div>
			<div class="passageUI-row">
				<label for="validate">{{ 'Validation' | say }}:</label>
				<input type="text" class="code" name="validate" v-model="validate" @input="onChangeValidate($event)" title="Validation function - e.g. '$isEmail($msg)'">
			</div>
		</div>
	</div>
	<task-options :task="task" add-label="Add Validation Text"></task-options>
</div>
