<div class="passageUI-wait">
	<div class="passageUI-content">
		<div class="passageUI-input">
			<div class="passageUI-input-row">
				<label for="variable">{{ 'Variable' | say }}:</label>
				<input type="text" list="userData" name="variable" v-model="variable" @input="onChange($event)" required>
				<datalist id="userData">
					<option v-for="field in userData" :value="$key">
				</datalist>
			</div>
		</div>
	</div>
	<task-options :task="task" add-label="Add Validation Text"></task-options>
</div>
