<div class="passageUI-wait">
	<div class="passageUI-content">
		<div class="image-placeholder">
			<img src="../../../../common/img/element-record-variable.svg">
		</div>		
		<div class="passageUI-form">
			<div class="passageUI-row">
				<label for="variable">{{ 'Variable' | say }}:</label>
				<div class="passageUI-row-input">
					<div class="passageUI-wait-variable">
						<input type="text" class="code" list="userData" id="variable" v-model="variable" @input="onChangeVariable($event)" 
						:title="'User variable without \'$\' prefix' | say" :placeholder="'User variable without \'$\' prefix' | say" required>
						<datalist id="userData">
							<option v-for="field in userData" :value="field">
						</datalist>
					</div>
					<p class="error" v-show="!variable">{{ 'User variable must be set' | say }}.</p>
					<p class="warning" v-show="!isValid">{{ '\'$\' will be added automatically' | say }}.</p>
				</div>
			</div>
			<div class="passageUI-row">
				<label for="validate">{{ 'Validation' | say }}:</label>
				<input type="text" class="code" id="validate" v-model="validate" @input="onChangeValidate($event)" :title="'Validation function - e.g. \'$isEmail($msg)\'' | say">
			</div>
			<div class="passageUI-row">
				<label for="placeholder">{{ 'Placeholder' | say }}:</label>
				<input type="text" id="placeholder" v-model="placeholder" @input="onChangePlaceholder($event)" :title="'Input field placeholder' | say">
			</div>
		</div>
	</div>
	<task-options :task="task" :add-label="'Add Validation Text' | say"></task-options>
	<div v-if="!showAutocomplete" class="passageUI-action" >
		<button type="button" @click="onShowAutocomplete" :title="'Input options shown to the User' | say">{{ 'User reply suggestions' | say }}</button>
	</div>
	<div v-else class="passageUI-options">
		<label for="autocomplete">{{ 'User reply suggestions' | say }}:</label>
		<div v-else class="passageUI-option">
			<textarea class="passageUI-option-text" id="autocomplete" v-model="autocomplete" @input="onChangeAutocomplete($event)" rows="3"></textarea>
		</div>
	</div>
</div>
