.passageUI-wait {
   .passageUI-content {
      .passageUI-placeholder {
         img {
            display: block;
            margin: auto;
            width: 50%;
            filter: invert(39%) sepia(100%) saturate(6453%) hue-rotate(331deg) brightness(96%) contrast(104%);
         }
      }
   }
}
