.passageUI-image {
  &-content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    img {
      max-width: 150px;
      height: 100%;
      border-radius: 10px;
      // transition: width 1s, height 1s;
      // background-image: url("../../../../common/img/placeholder-image.png");
      // background-repeat: no-repeat;
      // background-position: center;
      // background-size: contain;
      // background-color: #fff;
    }
    label {
      margin: 8px 10px 0 20px;
    }
    input {
      flex: 1;
      // border-style: inset;
    }
  }
}

.passageUI-task.collapsed .passageUI-image-content {
  img {
    width: auto;
    height: 33px;
  }
}