@import '../../../../common/colors.less';
@import '../../../../common/metrics.less';

.tags-dialog {
  padding: 0 0 20px;
	.toolbar {
    justify-content: flex-start;
		margin: @len-large 0;

		button {
			height: 2 * @len-large;
			width: 2 * @len-large;
			margin: 0 @len-small / 2;	

			&.grey {
				background: @color-tag-gray;
			}

			&.red {
				background: @color-tag-red;
			}

			&.orange {
				background: @color-tag-orange;
			}

			&.yellow {
				background: @color-tag-yellow;
			}

			&.green {
				background: @color-tag-green;
			}

			&.blue {
				background: @color-tag-blue;
			}

			&.purple {
				background: @color-tag-purple;
			}

      &.border {
        border: solid;
      }
		}
	}
}