<modal-dialog :origin="origin" v-ref:modal :title="'Test'">
	<div class="tags-dialog">
		<!-- Using a <form> allows the "required" attribute on the input to be usable. -->
		<form @submit.prevent="save">
			<!-- L10n: A noun, i.e. what a tag is named. -->
			<input class="tags__row" type="text" placeholder="{{ 'Tag name' | say }}" required v-model="edit.tag" v-el:tag-name>
			<p class="error" v-show="!isValidTag">{{ 'Tag name must be set' | say }}</p>
			<fieldset class="tags__row">
				<legend><a href="https://docu.chatbottery.com/#/./story/format/passage?id=schlagw%c3%b6rter" target="_blank">Buzzword Type</a></legend>
				<div class="tags__option">
					<input type="radio"id="type-none" v-model="edit.type" value="">
					<label for="type-none"><span class="tags__type"></span>None</label>
				</div>
				<div class="tags__option">
					<input type="radio" id="type-main" v-model="edit.type" value="#">
					<label for="type-main"><span class="tags__type">#</span>Main buzzword</label>
				</div>
				<div class="tags__option">
					<input type="radio" id="type-group" v-model="edit.type" value="@">
					<label for="type-group"><span class="tags__type">@</span>Group buzzword</label>
				</div>
				<div class="tags__option">
					<input type="radio" id="type-suggestion" v-model="edit.type" value="/">
					<label for="type-suggestion"><span class="tags__type">/</span>Suggestional buzzword</label>
				</div>
				<div class="tags__option">
					<input type="radio" id="type-condition" v-model="edit.type" value="%">
					<label for="type-condition"><span class="tags__type">%</span>Conditional buzzword</label>
				</div>
			</fieldset>
			<p class="error" v-show="!isValidType">{{ 'Only one Main Tag is allowed' | say }}</p>
			<div class="toolbar">
				<button type="button" class="grey" v-bind:class="{ 'border': edit.color === 'grey' }" @click="setColor('grey')" title="{{ 'Set tag color to gray' | say }}"></button>			
				<button type="button" class="red" v-bind:class="{ 'border': edit.color === 'red' }" @click="setColor('red')" title="{{ 'Set tag color to red' | say }}"></button>
				<button type="button" class="orange" v-bind:class="{ 'border': edit.color === 'orange' }" @click="setColor('orange')" title="{{ 'Set tag color to orange' | say }}"></button>
				<button type="button" class="yellow" v-bind:class="{ 'border': edit.color === 'yellow' }" @click="setColor('yellow')" title="{{ 'Set tag color to yellow' | say }}"></button>
				<button type="button" class="green" v-bind:class="{ 'border': edit.color === 'green' }" @click="setColor('green')" title="{{ 'Set tag color to green' | say }}"></button>		
				<button type="button" class="blue" v-bind:class="{ 'border': edit.color === 'blue' }" @click="setColor('blue')" title="{{ 'Set tag color to blue' | say }}"></button>		
				<button type="button" class="purple" v-bind:class="{ 'border': edit.color === 'purple' }" @click="setColor('purple')" title="{{ 'Set tag color to purple' | say }}"></button>
			</div>
			<button type="submit" class="create" :disabled="!isValid"><i class="fa fa-check"></i>{{ tag ? ' Change' : ' Add' }}</button>
		</form>
	</div>
</modal-dialog>