@import '../../../../common/metrics.less';

.tag-dialog {
  padding: 0 0 20px;
	input {
		font-size: 20px;
	}
	.tag__row {
		margin-bottom: 20px;
		width: 100%;
	}
	.tag__option {
		margin: 5px 0;
	}
	.tag__type {
		display: inline-block;
		width: 1rem;
	}
	.toolbar {
    justify-content: flex-start;
	}
	button.create {
		float: right;
	}
	.tag-colors,.tag-types {
		flex-direction: row;
		margin-bottom: 1rem;
		label {
			margin: auto 0.5rem auto 0;
		}
	}
}