<modal-dialog id="passageEditModal" class="editor" :can-close="canClose" :can-widen="true" :origin="origin" @destroyed="dialogDestroyed" v-ref:modal>
	<span slot="title">
		<input type="text" id="passageName" placeholder="{{ 'Passage Name' | say }}" v-model="userPassageName">
	</span>

	<tag-editor :passage="passage" :story-id="storyId"></tag-editor>

	<p class="error" v-if="!userPassageNameValid">
		{{ 'A passage already exists with this name.' | say }}
	</p>

	<div style="display:flex">
		<button v-on:click="showGui" type="button">UI</button>
		<button v-on:click="showSyntax" type="button">Syntax</button>
	</div>
	<div class="expand">
		<code-mirror v-show="!gui" :options="cmOptions" :text="passage.text" @cm-change="saveText" v-ref:codemirror></code-mirror>
		<ui-view v-show="gui" :syntax="passage.text"></ui-view>
	</div> <!-- .fullEdit -->
</modal-dialog>
