<modal-dialog id="passageEditModal" class="editor" :can-close="canClose" :origin="origin" @destroyed="dialogDestroyed" v-ref:modal>
	<span slot="title">
		<input type="text" id="passageName" placeholder="{{ 'Passage Name' | say }}" v-model="userPassageName">
	</span>

	<tag-editor :passage="passage" :story-id="storyId"></tag-editor>

	<p class="error" v-if="!userPassageNameValid">
		{{ 'Invalid Passage name (must not be an URL or start with \'\/\')' | say }}.
	</p>
	<template v-else>
		<p class="error" v-if="userPassageNameExist">
			{{ 'A passage already exists with this name' | say }}.
		</p>
	</template>

	<div class="passageMode">
		<button @click="toggleMode" type="button" class="active" title="{{ gui ? 'XML' : 'GUI' }}">
			<img v-if="gui" src="../../common/img/code.svg">
			<img v-else src="../../common/img/layers.svg">
		</button>
	</div>
	
	<div :class="['passageContent', gui ? '' : 'expand']">
		<code-mirror v-show="!gui" :options="cmOptions" :text="passage.text" @cm-change="saveText" v-ref:codemirror></code-mirror>
		<ui-view v-if="gui" :tasks="gui" :story="story" v-el:ui-view></ui-view>
	</div> <!-- .fullEdit -->
</modal-dialog>
