@import '../../common/metrics.less';

.openai-dialog {
	img {
		width: 20px;
		height: 100%;
		vertical-align: middle;
	}
	.openai-dialog-params {
		margin: 20px 0;
		label {
			display: block;
		}
		&--data {
			width: 100%;
			resize: vertical;
			display: block;
			margin: 5px 0;
		}
		&--reset {
			padding: 0;
			text-decoration: underline;
		}
	}
}
