<modal-dialog id="storyFormatModal" :origin="origin">
	<span slot="title">{{ 'Chatbot Format' | say }}</span>

	<p>
		{{ 'A chatbot format controls the appearance and behavior of your chatbot during play.' | say }}
	</p>

	<transition name="fade-in-out">
		<p v-if="working">
			<i class="fa fa-circle-o-notch fa-lg fa-spin"></i> {{ 'Loading...' | say }}
		</p>	
	</transition>
	
	<table class="lined">
		<tbody>
			<tr v-for="format in loadedFormats" is="format-item" :format="format" :story="story" transition="fade-in-out" track-by="$index"></tr>
		</tbody>
	</table>
</modal-dialog>
