.passageUI-xml {
  &-text {
    width: 100%;
    resize: vertical;
    height: 56px;
    background-color: #fff;
    font: 100% "Source Code Pro", Menlo, Consolas, "DejaVu Sans Mono", monospace;
  }
}

.passageUI-task.task-carousel .passageUI-xml-text {
  height: 256px;
}

.passageUI-task.collapsed .passageUI-xml-text {
  display: none;
}

.passageUI-task.task-carousel.collapsed .passageUI-xml-content {
  background-image: url("../../../../common/img/carousel.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 200px;
  height: 100px;
  margin: 0 auto;
}