<li
	:class="[
		'chatbot-toolbar__navigation-item chatbot-toolbar__navigation-item--chatbot',
		active ? 'chatbot-toolbar__navigation-item--active' : ''
	]"
	@click="toggleDropdown()"
	v-click-outside="closeDropdown"
>
	<div class="text">{{ story.name }}</div>
	<div class="dots">
		<i class="fa fa-ellipsis-h" aria-hidden="true"></i>
	</div>
	<ul class="dropdown">
		<!-- <li class="dropdown__item" @click="renameStory" title="{{ 'Rename Chatbot' | say }}">{{ 'Rename Chatbot' | say }}</li> -->
		<li class="dropdown__item" @click="plugin" title="{{ 'Chatbot Plugins' | say }}">{{ 'Plugins' | say }}</li>
		<li class="dropdown__item" @click="userData" title="{{ 'Chatbot User Data' | say }}">{{ 'User Data' | say }}</li>
		<li class="dropdown__item" @click="externalData" title="{{ 'Chatbot External Data' | say }}">{{ 'External Data' | say }}</li>
		<li class="dropdown__item" @click="settings" title="{{ 'Chatbot Settings' | say }}">{{ 'Settings' | say }}</li>
		<li v-if="proofingFormat" class="dropdown__item" @click="review" title="{{ 'Chatbot Review' | say }}">{{ 'Chatbot Review' | say }}</li>
		<li class="dropdown__item" @click="changeFormat" title="{{ 'Chatbot Format' | say }}">{{ 'Chatbot Format' | say }}</li>
		<li class="dropdown__item" @click="storyStats" title="{{ 'Chatbot Statistics' | say }}">{{ 'Statistics' | say }}</li>
		<li class="dropdown__item" v-if="matomo" @click="matomoStats" title="{{ 'Matomo Analytics' | say }}">{{ 'Analytics' | say }}</li>
	</ul>
</li>
