.passageUI-buttons {
  display: flex;
  flex-direction: row;
  &-list {
    flex: 0 0 30%;
    text-align: center;
    min-width: 150px;
    margin-right: 10px;
    &box {
      border-style: inset;
      text-align: left;
      overflow-y: auto;
      max-height: 120px;
    }
  }
}

.passageUI-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #fff;
  height: 32px;
  &.selected {
    color: #fff;
    background-color: #808080;
    .passageUI-button-delete,.passageUI-button-gripper {
      filter: invert(1);
    }
  }
  &-label {
    flex: 1;
    padding: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  &-gripper {
    cursor: grab;
    flex: 0 0 20px;
    height: 20px;
    background-image: url("../../../../common/img/ui-drag.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  &-delete {
    flex: 0 0 20px;
    height: 20px;
    cursor: pointer;
    background-image: url("../../../../common/img/delete.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}