<modal-dialog id="settingsModal" :origin="origin" :can-widen="true" :can-close="canClose" v-ref:modal>
	<span slot="title">{{ 'Settings' | say }}</span>
	<div class="setting__items">
		<div class="setting__item">
			<div class="setting__row">
				<label for="assetBaseUrl">{{ 'Asset Base URL' | say }}</label>
				<div class="setting__input">
					<input type="text" id="assetBaseUrl" v-model="assetBaseUrl" title="{{ 'URL for Assets (Images, Videos, etc.)' | say }}">
					<p class="error" v-show="!isValidBaseUrl(assetBaseUrl)">{{ 'Resource Locator must be a valid URL Path ending with slash (\'/\')' | say }}</p>
				</div>
			</div>
		</div>
		<div class="setting__item">
			<div class="setting__row">
				<label for="storyUrl">{{ 'URL for external chatbot-data' | say }}</label>
				<div class="setting__input">
					<input type="text" id="storyUrl" v-model="storyUrl" title="{{ 'URL for external Story data' | say }}">
					<p class="error" v-show="!isValidUrl(storyUrl)">{{ 'Resource Locator must be a valid URL' | say }}</p>
				</div>
			</div>
		</div>
		<div class="setting__save">
			<button class="create" @click="save" :disabled="!isValid">{{ 'Save' | say }}</button>
		</div>
	</div>
</modal-dialog>
